<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&dispay=swap">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/c99fc80025.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--HEADER-->
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-search">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
                <div class="search">
                    <input type="text" name="" placeholder="Buscar productos, marcas" class="search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-nav-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <!-- <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div> -->
        <!--PRODUCTOS-->
        <section>
            <div class="titular">
            <h3>Basado en tu última visita</h3>
            </div>
            <div class="product-section">
                <article class="product">
                    <div class="imagen-truck">
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <i class="fa-solid fa-truck"></i> <br>
                    </div>
                    <div>
                        <span class="precio">$6.770</span>
                        <span class="descuento">40% off</span>
                    </div>
                    <p>Cafetera Moulinex</p>
                </article>
                <article class="product">
                    <div class="imagen-truck">
                        <img src="/images/img-macbook-pro-2019.jpg">
                        <i class="fa-solid fa-truck"></i> <br>
                    </div>
                    <div>
                        <span class="precio">$230.000</span>
                        <span class="descuento">20% off</span>
                    </div>
                    <p>MacBook Pro 2019</p>
                </article>
                <article class="product">
                    <div class="imagen-truck">
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <i class="fa-solid fa-truck"></i> <br>
                    </div>
                    <div>
                        <span class="precio">$70.500</span>
                        <span class="descuento">10% off</span>
                    </div>
                    <p>Samsung Galaxy S10</p>
                </article>
                <article class="product">
                    <div class="imagen-truck">
                        <img src="/images/img-tv-samsung-smart.jpg">
                        <i class="fa-solid fa-truck"></i> <br>
                    </div>
                    <div>
                        <span class="precio">$23.200</span>
                        <span class="descuento">5% off</span>
                    </div>
                    <p>SmartTv Samsung 43"</p>
                </article>
            </div>
        </section>
    </main>
    <!--FOOTER-->
    <footer class="footer">
        <div class="footer-tal">
            <div class="footer-datos">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Pagá con tarjeta o en efectivo
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-datos">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-datos">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>